@(headline: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/assets/stylesheets/main.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//use.edgefonts.net/megrim;hammersmith-one.js"></script>
</head>
<body>
@if(flash.containsKey("incomplete")){
	<div class="alert alert-warning">Not all fields have been filled in</div>
}
<div class="entire-navigation">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navigation">
            @if(session.get("username") == null) {
            <ul class="nav navbar-nav">
                    <li id="sign-up-button"><a href="/user/create" >Sign Up <i class="fa fa-user"></i></a></li>
            </ul>
      	      <div class="navbar-form navbar-right" id="login">
      <form role="form" action="@routes.UserController.logIn" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="email" name="email" placeholder= "Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-primary">Log in <i class="fa fa-unlock"></i></button>
</form>
</div>
      }else{
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/shoppingcart">Shopping Cart</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">You are logged in<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/user/logout">Log out</a></li>
            <li class="divider"></li>
            <li><a href="/">Go to Homepage</a></li>
          </ul>
        </li>
      </ul>
      }
</nav>
<div class="container">
<div class="header">
<h1><a href="/">Webshop</a></h1>
</div>
</div>
<nav class="navbar navbar-default" role="navigation" id="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="lower-navigation">
      <li><a href="/products">Products</a></li>
            <li><a href="/categories">Categories</a></li>
        <li><a href="/admin">Admin Page</a></li>
      </ul>
      
 <!--     <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      -->

        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>
<div class="content" id="content">
<h1>@headline</h1>
@content
</div>
</body>
</html>